<div class="row" id="rowTable">
	<div class="col-xs-12">
		<div class="box">
			<!-- /.box-header -->
			<div class="table-responsive">
				<table id="example2" class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>Nro</th>
							<th>Cedula</th>
							<th>Nombres Apellidos Cliente</th>
							<th>Email</th>
							<th>Telefono</th>
							<th>Estado</th>
							<th>E</th>
							<th>M</th>
							<th>H</th>
							<th>V</th>
						</tr>
					</thead>
					<tbody>
						#foreach($i in $clientes)
						<tr>
							<td>$i.idcliente</td>
							<td>$i.cedula</td>
							<td>$i.nombre $i.ap $i.am</td>
							<td>$i.telefono</td>
							<td>$i.email</td>
							<td>#if(${i.estado} == 1) <span> <i
									class="icon-thumbs-up"></i></span> #else <span> <i
									class="icon-thumbs-down"></i></span> #end
							</td>

							<td>#if (${i.estado} == 1) <a id=$i.idrol
								onclick="Obtener($i.idcliente, '$i.nombre')"
								title="Hacer clik para Eliminar" data-toggle="modal"
								data-target="#delModal"><span> <i class="icon-trash"></i>
								</span> </a> #else <span> <i class="icon-trash"></i>
							</span>#end
							</td>

							<td>#if (${i.estado} == 1)<a
								title="Hacer clik para Modificar"
								onclick="GetModificar($i.idcliente)"> <span><i
										class="icon-pencil"></i></span>
							</a>#else <span><i class="icon-pencil"></i></span> #end
							</td>

							<td>#if (${i.estado} == 0) <a
								onclick="Obtener($i.idcliente, '$i.nombre')"
								title="Hacer clik para Habilitar" data-toggle="modal"
								data-target="#habModal"> <span> <i class="icon-back"></i>
								</span>
							</a> #else <span> <i class="icon-back"></i>
							</span>#end
							</td>

							<td><a title="Hacer clik para Ver"
								onclick="Ver($i.idcliente)"> <span><i
										class="icon-eye"></i></span>
							</a></td>
						</tr>
						#end
					</tbody>
					<tfoot>
						<tr>
							<th>Nro</th>
							<th>Cedula</th>
							<th>Nombres Apellidos Cliente</th>
							<th>Email</th>
							<th>Telefono</th>
							<th>Estado</th>
							<th>E</th>
							<th>M</th>
							<th>H</th>
							<th>V</th>
						</tr>
					</tfoot>
				</table>
			</div>
			<!-- /.box-body -->
		</div>
		<!-- /.box -->
	</div>
	<!-- /.col -->
</div>
<!--./table -->

<script>
	$('#example2').DataTable({
		'paging' : true,
		'lengthChange' : false,
		'searching' : false,
		'ordering' : true,
		'info' : true,
		'autoWidth' : false
	})
</script>