<section class="content-header ">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-8">
					<h1 class="panel-title">Gestion Rol</h1>
				</div>
				<div class="col-md-4 text-right">
					<button type="button" class="btn btn-success btn-sm"
						data-toggle="modal" data-target="#addModal">Nuevo</button>
				</div>
			</div>
		</div>
		<!-- 						<p class="breadcrumb"></p> -->
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-6 col-sm-4">
					<input type="text" id="buscador" class="form-control" value=""
						placeholder="Buscar">
				</div>
				<div class="col-xs-6 col-sm-4"></div>
				<div class="col-xs-6 col-sm-4">
					<label class="radio-inline"> <input type="radio" value="1"
						name="festado"> Activos
					</label> <label class="radio-inline"> <input type="radio" value="0"
						name="festado"> Bajas
					</label> <label class="radio-inline"> <input type="radio"
						value="-1" checked="checked" name="festado"> Todos
					</label>
				</div>
			</div>
			<br>
			<div class="row" id="rowTable">
				<!-- CAMBIAR TODA LA FILA PARA ACTUALIZAR LA TABLA -->
			</div>
			<div id="alertas"></div>
		</div>
	</div>
</section>

<!-- MODALS -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="box-header with-border">
					<h3 class="box-title">Adicionar nuevo Rol</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal" id="addForm">
					<div class="box-body">
						<div class="form-group">
							<label for="nombre" class="col-sm-2 control-label">Nombre</label>

							<div class="col-sm-10">
								<input type="text" class="form-control" id="nombre"
									name="nombre" placeholder="Nombre" autofocus="autofocus">
							</div>
						</div>
						<div class="form-group">
							<label for="for-direccion" class="col-form-label">Menus</label> <select
								name="menus" multiple="multiple"> #foreach($i in
								$menus)
								<option value="$i.idmenu">$i.nombre</option> #end
							</select>
						</div>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-info pull-right"
							id="btn-create">Guardar</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL ELIMINAR-->

<div class="modal fade" id="delModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="box-header with-border">
					<h3 class="box-title">Eliminar Rol</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal">
					<div class="box-body">
						<p class="col-sm-12  text-center">
							Esta seguro de eliminar el rol de <strong id="sNombre"></strong>
						</p>
						<input type="hidden" id="inputId">
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-info pull-right"
							onclick="Eliminar()">Aceptar</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
		</div>
	</div>
</div>

<!-- MODAL HABILITAR -->
<div class="modal fade" id="habModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="box-header with-border">
					<h3 class="box-title">Habilitar Rol</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal">
					<div class="box-body">
						<p class="col-sm-12  text-center">
							Esta seguro de habilitar el rol de <strong id="hNombre"></strong>
						</p>
						<input type="hidden" id="inputId">
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-info pull-right"
							onclick="Habilitar()">Aceptar</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
		</div>
	</div>
</div>

<!-- CONTENEDOR PARA MODALES -->
<div id="contenedor"></div>
<script>
	$('#example2').DataTable({
		'paging' : true,
		'lengthChange' : false,
		'searching' : false,
		'ordering' : true,
		'info' : true,
		'autoWidth' : false
	})

	var demo2 = $('select[name="menus"]').bootstrapDualListbox();

	//filtro de roles
	var buscador = $('#buscador').val();
	var estado = $('input[name="festado"]:checked').val()

	$('#buscador').on('keyup', function() {
		buscador = $(this).val();
		UpdateView();
	})

	$('input[name="festado"]').on('change', function() {
		estado = $(this).val()
		UpdateView();
	})

	UpdateView();

	function UpdateView() {
		var datos = "buscador=" + buscador + "&estado=" + estado;
		console.log(datos);
		$("#rowTable").load("rol/tableRol.html?" + datos, function(e) {
			console.log("Ya se cargo")
		});
	}

	$('#btn-create').click(function() {
		$.ajax({
			url : 'rol/save.html',
			type : 'post',
			data : $('#addForm').serialize(),
			dataType : 'json',
			success : function(res) {
				console.log("res: ", res);
				$('#addModal').modal('hide');
				UpdateView();
				$("#addForm")[0].reset();
				$("#addForm").find('select').prop('selectedIndex', -1);
			},
			error : function(jqXHR, estado, error) {
				console.log(estado, error, jqXHR);
				console.log("Upps ocurrio algo!!!");
				UpdateView();
			}
		});
	});

	function Obtener(idrol, nombre) {
		$('#inputId').val(idrol);
		$('#sNombre').text(nombre);
		$('#hNombre').text(nombre);
	}

	function Eliminar() {
		var id = $('#inputId').val();
		console.log("Eliminar " + id);
		$.post("rol/delete.html", {
			id : id
		}, function(res) {
			console.log(res);
			$('#delModal').modal('hide');
			UpdateView();
		});
	}

	function Habilitar() {
		var id = $('#inputId').val();
		$.post("rol/habilitar.html", {
			id : id
		}, function(data) {
			$('#habModal').modal('hide');
			UpdateView();
		});
	}

	function GetModificar(id) {
		console.log("modificar " + id);
		$('#contenedor').load("rol/getModificar.html?id=" + id, function(e) {
			$('#modModal').modal('show');
		});
	}

	function Ver(id) {
		console.log(id);
		$('#contenedor').load("rol/ver.html?id=" + id, function(e) {
			$('#verModal').modal('show');
		});
	}
</script>