<link rel="stylesheet" type="text/css" href="./assets/css/bulma.css">
<div class="modal is-active">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Alerta</p>
			<button class="delete btn_x"></button>
		</header>
		<section class="modal-card-body">
			<div class="field is-horizontal">
				<div class="content has-text-centered">
					<h3>${xmen}</h3>
				</div>
			</div>
		</section>
		<footer class="modal-card-foot has-text-centered">
			<a href="${xenlace}" class="button is-success">Retornar</a>
		</footer>
	</div>
</div>
