<div class="modal inmodal fade" id="addModal" tabindex="-1"
	role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content animated flipInY">
			<div class="modal-header">
				<h4 class="modal-title">AGREGAR NUEVO SERVICIO</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-lg-12">
						<div class="ibox ">
							<div class="ibox-content">
								<form class="form-horizontal" id="addForm"
									action="producto/save.html" enctype="multipart/form-data"
									method="post">
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">Serv General</label>
										<div class="col-sm-10">
											<select class="form-control m-b" name="cod_grl" >
												<option>Seleccione</option> #foreach ($sg in $ServicioGeneral)
												<option value="${sg.cod_grl}">${sg.nombre}</option> #end
											</select>
										</div>
									</div>x	
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">Tipo Servicio</label>
										<div class="col-sm-10">
											<select class="form-control m-b" name="cod_ser">
												<option>Seleccione</option> #foreach ($se in
												$TipoServicio)
												<option value="${se.cod_ser}" >${se.nombre}</option> #end
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-sm-2 col-form-label">Categoria</label>
										<div class="col-sm-10">
											<select class="form-control m-b" name="cod_cat">
												<option>Seleccione</option> #foreach ($ca in $Categoria)
												<option value="${ca.cod_cat}">${ca.nombre}</option> #end
											</select>
										</div>
									</div>
									<div class="form-group  row">
										<label class="col-sm-2 col-form-label">Precio</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" name="precio">
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-2 col-form-label">Foto</label>
										<div class="col-sm-10">
											<input type="file" name="foto" id="foto">
										</div>
									</div>
									
															<div class="form-group">
							<label for="nombre" class="col-sm-2 control-label">Nombre</label>

							<div class="col-sm-10">
								<input type="text" class="form-control" id="nombre"
									name="nombre" placeholder="Nombre" autofocus="autofocus"
									data-rule-required="true">
							</div>
						</div>
						<div class="form-group">
							<label for="marca" class="col-sm-2 control-label">Marca</label>

							<div class="col-sm-10">
								<input type="text" class="form-control" id="marca" name="marca"
									placeholder="Marca" data-rule-required="true">
							</div>
						</div>
						<div class="form-group">
							<label for="precio" class="col-sm-2 control-label">Precio
								(bs)</label>

							<div class="col-sm-10">
								<input type="text" class="form-control" id="precio"
									name="precio" placeholder="0.00" data-rule-required="true">
							</div>
						</div>
						<div class="form-group">
							<label for="catergoria" class="col-sm-2 control-label">Categoria</label>
							<div class="col-sm-10">
								<select class="form-control" id="idcategoria" name="idcategoria">
									<option>Select Categoria</option> #foreach($i in $categoria)
									<option value="$i.idcategoria">$i.nombre</option> #end
								</select>
							</div>
						</div>

									<div class="modal-footer">
										<button type="button" class="btn btn-white"
											data-dismiss="modal">CANCELAR</button>
										<button type="submit" class="btn btn-primary" id="b-add">GUARDAR</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
