<div class="modal fade" id="verModal" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="box-header with-border">
					<h3 class="box-title">Ver Producto</h3>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<!-- /.box-header -->
				<!-- form start -->
				<form class="form-horizontal">
					<div class="box-body">
						<p class="col-sm-12  text-center">
							Nombre: <strong>$i.nombre</strong>
						</p>
						<p class="col-sm-12  text-center">
							Estado: <strong>$i.estado</strong>
						</p>
					</div>
					<!-- /.box-body -->
					<div class="box-footer">
						<button type="button" class="btn btn-info pull-right"
							data-dismiss="modal">Aceptar</button>
					</div>
					<!-- /.box-footer -->
				</form>
			</div>
		</div>
	</div>
</div>
