
<div class="container gallery-container">
	<div class="tz-gallery">
		<div class="row">

			<div class="col-sm-12 col-md-4">
				<a class="lightbox" href="./assets/img/productos/fotocopiadora.png">
					<img src="./assets/img/productos/fotocopiadora.png" alt="Bridge"
					width="200" height="200">
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a class="lightbox" href=""> <img
					src="./assets/img/productos/producto1.png" alt="Bridge">
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a class="lightbox" href=""> <img
					src="./assets/img/productos/producto1.png" alt="Bridge">
				</a>
			</div>
			<div class="col-sm-12 col-md-4">
				<a class="lightbox" href="./assets/img/productos/fotocopiadora.png">
					<img src="./assets/img/productos/producto3.png" alt="Bridge"
					width="200" height="200">
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a class="lightbox" href=""> <img
					src="./assets/img/productos/producto2.png" alt="Bridge">
				</a>
			</div>
			<div class="col-sm-6 col-md-4">
				<a class="lightbox" href=""> <img
					src="./assets/img/productos/producto1.png" alt="Bridge">
				</a>
			</div>
			<div>
				<button class="btn btn-primary" onclick="Volver()">Volver</button>
			</div>
		</div>
	</div>
</div>