
<style>
form {
	background-color: antiquewhite;
	padding: 2px;
}
</style>
<div class="container">
	<form action="" id="addForm">
		<div class="row newPro">
			<div class="col-sm-5">
				<label for="">Productos</label> <select
					class="selectpicker form-control" id="producto" name="producto"
					data-container="body" data-live-search="true"
					title="Select Producto" data-hide-disabled="true">
					#foreach($i in $producto)
						<option value="$i.idproducto _$i.precio">$i.nombre - $i.marca </option>
					#end
					<option value="1_3000" precio="12">Epson</option>
					<option value="2_123" precio="30">Canon E808</option>
					<option value="3_800" precio="40">Epson 2000</option>
					
				</select>
			</div>
			<div class="col-sm-3">
				<label for="">Precio Unitario</label> <input type="text"
					name="precio[]" class="form-control" id="iUnitario" disabled />
			</div>
			<div class="col-sm-2">
				<label for="">Cantidad</label> <input type="text" name="precio[]"
					class="form-control" id="iCantidad" />
			</div>
			<div class="col-sm-2">
				<label for="">Accion</label> <a href="javascript:void(0)"
					class="btn btn-success " id="" onclick="AddCarrito()"><span
					class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span>
					Añadir</a>
			</div>
		</div>
		<hr>
		<input type="button" name="submit" class="btn btn-block btn-primary"
			value="::FACTURAR::" />
	</form>
</div>
<hr>
<div class="container">
	<table
		class="othertable col-xs-12 table-condensed table-hover table-bordered"
		id="table">
		<thead bgcolor="orange">
			<tr class="head">
				<th>#</th>
				<th>Nombre</th>
				<th>Precio</th>
				<th>Cantidad</th>
				<th>SubTotal</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
	<div class="row">
		<div class="form-group col-sm-4">
			<label for="igv">IVA:</label> <input type="text" class="form-control"
				disabled id="igv">
		</div>
		<div class="form-group  col-sm-4">
			<label for="total">Total:</label> <input type="text"
				class="form-control" disabled id="sTotal" value="0.0">
		</div>

	</div>

	<script>
		$(document).ready(function() {
			DefaultFields();
		});

		var codigo, nombre;
		$("#producto").on("change", function() {
			var val = $(this).val();
			nombre = $('select[name="producto"] option:selected').text();
			//sacar id producto y precio
			var fields = val.split('_');
			codigo = fields[0];
			$("#iUnitario").val(fields[1])
			$("#iCantidad").val(1)
			console.log(nombre);
		})

		function AddCarrito() {
			let precio = parseFloat($("#iUnitario").val()), cantidad = $(
					"#iCantidad").val();
			let subTotal = parseFloat(precio) * parseFloat(cantidad);
			console.log(parseFloat(precio))

			var tr = '<tr><td>'
					+ codigo
					+ ' </td><td>'
					+ nombre
					+ '</td><td>'
					+ precio
					+ '</td><td>'
					+ cantidad
					+ '</td><td>'
					+ subTotal
					+ '</td><td><input type="button" class="btn btn-danger delete" value="Eliminar"></td></tr>';

			$('table').append(tr);
			UpdateCarrito();
		}

		$("body").on("click", ".delete", function() {
			$(this).parents("tr").remove();
			var nRows = $("#table tr").length;
			if (nRows > 1) {
				console.log("Numero de filas " + nRows + "quedan");
				UpdateCarrito()
			} else {
				$("#sTotal").val("0.00");
			}
		});

		function UpdateCarrito() {
			var tr = $("#table tbody tr:not('.head')");
			var td4 = $(tr).children()[4].innerHTML;
			console.log("valor" + td4)
			var sum = 0;

			tr.each(function() {
				var tds = $(this).find('td')[4].innerHTML;
				sum = sum + parseFloat($(this).find('td')[4].innerHTML)
				console.log(" tds" + tds)
			});

			$("#sTotal").val(sum);
			DefaultFields()
		}

		function DefaultFields() {
			//$("#addForm")[0].reset();
			$("#iUnitario").val('0.00')
			$("#iCantidad").val(0)
		}
	</script>