<section class="content-header ">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-12">
					<h1 class="panel-title">Gestion Reportes</h1>
				</div>
			</div>
		</div>
		<!-- 						<p class="breadcrumb"></p> -->
		<div class="panel-body">


			<div class="row">
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-aqua">
						<div class="inner">
							<h3>Productos</h3>

							<p>
								<label class="radio-inline"> <input type="radio"
									value="-1" checked="checked" name="festado"> Todos
								</label>
							</p>
						</div>
						<div class="icon">
							<i class="ion ion-bag"></i>
						</div>
						<a onclick="Imprimir('report1.html')" class="small-box-footer">Obtener
							PDF<i class="fa fa-arrow-circle-right"></i>
						</a>
						<div class="text-center">
							<label class="radio-inline"> <input type="radio"
								value="1" name="festado"> Activos
							</label> <label class="radio-inline"> <input type="radio"
								value="0" name="festado"> Bajas 
						</div>
					</div>
				</div>
				<!-- ./col -->

				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-yellow">
						<div class="inner">
							<h3>Clientes</h3>

							<p>
								<label class="radio-inline"> <input type="radio"
									value="-1" name="festado"> Todos
								</label>
							</p>
						</div>
						<div class="icon">
							<i class="ion ion-person-stalker"></i>
						</div>
						<a onclick="Imprimir('cliente.html')" class="small-box-footer">Obtener
							PDF<i class="fa fa-arrow-circle-right"></i>
						</a>
						<div class="text-center">
							<label class="radio-inline"> <input type="radio"
								value="1" name="festado"> Activos
							</label> <label class="radio-inline"> <input type="radio"
								value="0" name="festado"> Bajas
							</label>
						</div>
					</div>
				</div>
				<!-- ./col -->
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-green">
						<div class="inner">
							<h3>Empleados</h3>
							<p>
								<label class="radio-inline"> <input type="radio"
									value="-1" name="festado"> Todos
								</label>
							</p>
						</div>
						<div class="icon">
							<i class="ion ion-person"></i>
						</div>
						<a onclick="Imprimir('empleado.html')" class="small-box-footer">Obtener
							PDF<i class="fa fa-arrow-circle-right"></i>
						</a>
						<div class="text-center">
							<label class="radio-inline"> <input type="radio"
								value="1" name="festado"> Activos
							</label> <label class="radio-inline"> <input type="radio"
								value="0" name="festado"> Bajas
							</label>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-xs-6">
					<!-- small box -->
					<div class="small-box bg-red">
						<div class="inner">
							<h3>Inventario</h3>

							<p>
								<label class="radio-inline"> <input type="radio"
									value="-1" name="festado"> Todos
								</label>
							</p>
						</div>
						<div class="icon">
							<i class="ion ion-android-list"></i>
						</div>
						<a href="#" class="small-box-footer">More info <i
							class="fa fa-arrow-circle-right"></i>
						</a>
						<div class="text-center">
							<label class="radio-inline"> <input type="radio"
								value="1" name="festado"> Activos
							</label> <label class="radio-inline"> <input type="radio"
								value="0" name="festado"> Bajas
							</label>
						</div>
					</div>
				</div>
				<!-- ./col -->
			</div>
		</div>
	</div>
</section>

<script>
	function Imprimir(url) {
		var estado = $('input[name="festado"]:checked').val()
		console.log(url)
		console.log(estado)
		var enlace = 'reportes/'+url + '?&estado=' + estado;
		window.open(enlace, '_black'); 
	}
</script>